canvas {
    width: 500px;
    height: 400px;
    background-color: #f5f5f5;
    border: 1px solid red;
    border-radius: 4px;
    margin: 2%;
  }

.collapse-lines {
  border: 1px solid red;
  margin-top: 5px;
  color: red;
  font-size: 16px;
  margin-left: 2%;
}